<div class="container">
  <h1>Chi tiết hợp đồng</h1>

          <div class="card" >
            <div class="card-block">
              <h4 class="card-title">Thông tin công việc</h4>
              <p class="card-text">Thời gian: {{ contract.created_at | date: 'dd/MM/yyyy' }} - {{ contract.end_at | date: 'dd/MM/yyyy' }}</p>  
              <p class="card-text">Nội dung: {{ contract.detail.jobDescription }}</p>
              <p class="card-text">Thời điểm:</p>
              <table class="table">
                <thead>
                  <tr>
                    <th *ngIf="contract.detail.dates[0]!=''">{{ contract.detail.dates[1] }}</th>
                    <th *ngIf="contract.detail.dates[1]!=''">{{ contract.detail.dates[2] }}</th>
                    <th *ngIf="contract.detail.dates[2]!=''">{{ contract.detail.dates[2] }}</th>
                    <th *ngIf="contract.detail.dates[3]!=''">{{ contract.detail.dates[3] }}</th>
                    <th *ngIf="contract.detail.dates[4]!=''">{{ contract.detail.dates[4] }}</th>
                    <th *ngIf="contract.detail.dates[5]!=''">{{ contract.detail.dates[5] }}</th>
                    <th *ngIf="contract.detail.dates[6]!=''">{{ contract.detail.dates[6] }}</th>
                    <!-- <th>Hủy</th> -->
                  </tr>
                </thead>

              </table>              
            </div>                
            <div class="card-block">
              <h4 class="card-title">{{ contract.userId.profile.name }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">email: {{ contract.userId.profile.email }} - sđt: {{ contract.userId.profile.phone }}</h6>
              <p class="card-text">Địa chỉ: {{ contract.userId.profile.address }}</p>
            </div>            
            <div class="card-block">
              <h4 class="card-title">{{ contract.nurseId.profile.name }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">Giới tính: {{ contract.nurseId.profile.sex }} - email: {{ contract.nurseId.profile.email }} - sđt: {{ contract.nurseId.profile.phone }}</h6>
              <p class="card-text">Làm việc tại: {{ contract.nurseId.nurseprofile.hospital }}</p>
              <p class="card-text">Địa chỉ: {{ contract.nurseId.profile.address }}</p>
            </div>
          </div> 

</div>
