<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <a [routerLink]="['/nurses']" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
      </a>      
    </div>  
  </div>
  <h1>Thêm người điều dưỡng</h1>
  <div class="row">
    <div class="col-md-12">
      <!-- <form (ngSubmit)="saveNurse()" #nurseForm="ngForm" ngNativeValidate> -->
        <form [formGroup]="reactiveForm" (ngSubmit)="saveNurse(reactiveForm.value)">
          <div class="col-md-6"> 
            <!-- username  -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['username'].valid && reactiveForm.controls['username'].touched}">
              <label for="name">Tên tài khoản</label>
              <div class="alert" *ngIf="reactiveForm.controls['username'].hasError('required') && reactiveForm.controls['username'].touched">{{ requireAlert }}</div>
              <input type="text" class="form-control input-lg" placeholder="nhập tên tài khoản" [formControl]="reactiveForm.controls['username']">
            </div>
            <!-- password -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['password'].valid && reactiveForm.controls['password'].touched}">
              <label for="name">Mật khẩu</label>
              <div class="alert" *ngIf="reactiveForm.controls['password'].hasError('required') && reactiveForm.controls['password'].touched">{{ requireAlert }}</div>
              <div class="alert" *ngIf="reactiveForm.controls['password'].hasError('minlength') && reactiveForm.controls['password'].touched">{{ minPassAlert }}</div>
              <input type="password" class="form-control input-lg" placeholder="nhập mật khẩu" [formControl]="reactiveForm.controls['password']">
            </div>
            <!-- name -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['name'].valid && reactiveForm.controls['name'].touched}">
              <label for="name">Họ Tên</label>
              <div class="alert" *ngIf="reactiveForm.controls['name'].hasError('required') && reactiveForm.controls['name'].touched">{{ requireAlert }}</div>
              <input type="text" class="form-control input-lg" placeholder="nhập tên" [formControl]="reactiveForm.controls['name']">
            </div>   
            <!-- email -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['email'].valid && reactiveForm.controls['email'].touched}">
              <label for="name">Email</label>
              <div class="alert" *ngIf="reactiveForm.controls['email'].hasError('required') && reactiveForm.controls['email'].touched">{{ requireAlert }}</div>
              <div class="alert" *ngIf="reactiveForm.controls['email'].hasError('pattern') && reactiveForm.controls['email'].touched">{{ emailAlert }}</div> 
              <input type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" class="form-control input-lg" placeholder="nhập email" [formControl]="reactiveForm.controls['email']">
            </div>
            <!-- phone -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['phone'].valid && reactiveForm.controls['phone'].touched}">
              <label for="name">Số điện thoại</label>
              <div class="alert" *ngIf="reactiveForm.controls['phone'].hasError('required') && reactiveForm.controls['phone'].touched">{{ requireAlert }}</div>
              <div class="alert" *ngIf="reactiveForm.controls['phone'].hasError('minlength') && reactiveForm.controls['phone'].touched">{{ minPhoneAlert }}</div>
              <div class="alert" *ngIf="reactiveForm.controls['phone'].hasError('maxlength') && reactiveForm.controls['phone'].touched">{{ maxPhoneAlert }}</div>
              <input type="tel" pattern="[0-9]*" class="form-control input-lg" placeholder="Nhập số điện thoại" [formControl]="reactiveForm.controls['phone']">
            </div>
            <!-- age -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['age'].valid && reactiveForm.controls['age'].touched}">
              <label for="name">Tuổi</label>
              <div class="alert" *ngIf="reactiveForm.controls['age'].hasError('required') && reactiveForm.controls['age'].touched">{{ requireAlert }}</div>
              <div class="alert" *ngIf="reactiveForm.controls['age'].hasError('maxValue') && reactiveForm.controls['age'].touched">{{ maxAgeAlert }}</div>
              <div class="alert" *ngIf="reactiveForm.controls['age'].hasError('minAge') && reactiveForm.controls['age'].touched">{{ minAgeAlert }}</div>
              <input type="number" pattern="[0-9]*" class="form-control input-lg" placeholder="nhập tuổi" [formControl]="reactiveForm.controls['age']">
            </div>
            <!-- gender -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['gender'].valid && reactiveForm.controls['gender'].touched}">
              <label for="name">Giới tính</label>
              <div class="alert" *ngIf="reactiveForm.controls['gender'].hasError('required') && reactiveForm.controls['gender'].touched">{{ requireAlert }}</div>
              <select type="text" class="form-control input-lg" [formControl]="reactiveForm.controls['gender']">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
            </div>
            <!-- submit -->
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!reactiveForm.valid">Thêm mới</button>
            </div>            
          </div>

          <div class="col-md-6"> 
            <!-- certificatiom -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['certification'].valid && reactiveForm.controls['certification'].touched}">
              <label for="name">Bằng cấp</label>
              <div class="alert" *ngIf="reactiveForm.controls['certification'].hasError('required') && reactiveForm.controls['certification'].touched">{{ requireAlert }}</div>
              <input type="text" class="form-control input-lg" placeholder="nhập các bằng cấp hiện có" [formControl]="reactiveForm.controls['certification']">
            </div>
            <!-- career -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['career'].valid && reactiveForm.controls['career'].touched}">
              <label for="name">Chuyên môn</label>
              <div class="alert" *ngIf="reactiveForm.controls['career'].hasError('required') && reactiveForm.controls['career'].touched">{{ requireAlert }}</div>
              <!-- <input type="text" class="form-control input-lg" placeholder="nhập thông tin về chuyên môn" [formControl]="reactiveForm.controls['career']"> -->
              <select type="text" class="form-control input-lg" [formControl]="reactiveForm.controls['career']">
                <option value="LPN">Trên 5 năm kinh nghiệm</option>
                <option value="RN">Dưới 5 năm kinh nghiệm</option>
              </select>
            </div>
            <!-- hospital -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['hospital'].valid && reactiveForm.controls['hospital'].touched}">
              <label for="name">Bệnh viện hiện tại</label>
              <div class="alert" *ngIf="reactiveForm.controls['career'].hasError('hospital') && reactiveForm.controls['hospital'].touched">{{ requireAlert }}</div>
              <input type="text" class="form-control input-lg" placeholder="nhập tên bệnh viện hiện đang làm" [formControl]="reactiveForm.controls['hospital']">
            </div>
            <!-- type -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['type'].valid && reactiveForm.controls['type'].touched}">
              <label for="name">Dạng điều dưỡng</label>
              <div class="alert" *ngIf="reactiveForm.controls['career'].hasError('type') && reactiveForm.controls['type'].touched">{{ requireAlert }}</div>
              <select type="text" class="form-control input-lg" [formControl]="reactiveForm.controls['type']">
                <option value="Internal">Điều dưỡng chính quy</option>
                <option value="External">Điều dưỡng gia đình</option>
              </select>
            </div>
            <!-- address -->
            <div class="form-group" [ngClass]="{'has-error':!reactiveForm.controls['address'].valid && reactiveForm.controls['address'].touched}">
              <label for="name">Địa chỉ</label>
              <div class="alert" *ngIf="reactiveForm.controls['address'].hasError('required') && reactiveForm.controls['address'].touched">{{ requireAlert }}</div>
              <input placeholder="search for location" [formControl]="reactiveForm.controls['address']" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control input-lg" #search [formControl]="searchControl">
            </div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>                                    
          </div>
        </form>
        <div class="col-md-6 top-buffer">
          <div class="row">
            <div class="col-md-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <select type="text" class="form-control" [(ngModel)]="date" name="date">
                  <option value="T2">Thứ 2</option>
                  <option value="T3">Thứ 3</option>
                  <option value="T4">Thứ 4</option>
                  <option value="T5">Thứ 5</option>
                  <option value="T6">Thứ 6</option>
                  <option value="T7">Thứ 7</option>
                  <option value="CN">Chủ Nhật</option>            
                </select>              
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
                <input class="form-control" [value]="start | date:'shortTime'" [(ngModel)]="start" name="start" dateTimePicker [pickerType]="'time'" readonly [minMoment]="limitSt" [maxMoment]="end">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-log-out"></i></span>
                <input class="form-control" [value]="end | date:'shortTime'" [(ngModel)]="end" name="end" dateTimePicker [pickerType]="'time'" readonly [minMoment]="start" [maxMoment]="limitEn">
              </div>
            </div>
             <div class="col-md-1">      
              <button type="button" class="btn btn-success btn-number" (click)="addBusyDate()">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
             </div>             
          </div>


        </div>
        <div class="col-md-6  top-buffer jumbotron">
          <table class="table">
            <tr *ngFor="let busyDate of busyDates">
              <td>{{ busyDate.date }}</td>
              <td>{{ busyDate.start_time | date:'shortTime' }}</td>
              <td>{{ busyDate.end_time | date:'shortTime' }}</td>
              <td><button type="button" class="btn btn btn-danger btn-number" (click)="deleteBusyDate(busyDate)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td> 
            </tr>
          </table>
        </div>          

    </div>
  </div>
</div>