<!-- <div class='col-sm-3'>  
    <nav-menu></nav-menu>  
</div>   -->
<!-- <div class="col-md-6 col-md-offset-3"> -->
<!-- <h1>Hi {{currentUser.firstName}}!</h1>
    <h1>welcome {{currentUser.username}}! and {{currentUser.role}}</h1>
    <p>You're logged in with the MEAN Stack & Angular 2!!</p> -->
<!-- <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}}
            - <a (click)="deleteUser(user._id)">Delete</a>
        </li>
    </ul> -->

<section>
  <h1>Chào mừng tới <em>Hệ thống cung ứng người điều dưỡng</em></h1>
  <p>Đây là hệ thống cung cấp dịch vụ hỗ trợ chăm sóc bệnh nhân được với nguồn nhân lực có qua đào tạo điều dưỡng</p>
</section>
<!-- <div class="wrapper">
  <img src="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i" class="img-responsive" alt="Responsive image">
</div> -->
<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->
<a href="https://github.com/sdcrono/nurse_resource"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
