<!-- <div class="form-group has-warning has-feedback">
  <label class="control-label" for="inputWarning">Email address input field with warning</label>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="text" class="form-control" id="inputWarning" aria-describedby="inputGroupWarningStatus">
  </div>
  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span id="inputGroupWarningStatus" class="sr-only">(warning)</span>
</div> -->
<div class="row px-2">
    <!-- <h1>{{ahuhu}} {{radius}}</h1> -->
  <div class="col-md-1">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-number"  (click)="collapseSearchingRadius()">
          <span class="glyphicon glyphicon-resize-small"></span>
        </button>
      </span>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-number" (click)="expandSearchingRadius()">
            <span class="glyphicon glyphicon-resize-full"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="col-md-3" id="myLocation" >
    <div class="input-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      <span class="input-group-btn .btn-xs">
        <button class="btn btn-secondary .btn-xs" type="button" (click)="getCurrentLocation()">
          <span class="glyphicon glyphicon-record"></span>
        </button>
      </span>      
    </div>
  </div>    
  <div class="col-md-2">
      <select type="text" class="form-control col-xs-3" [(ngModel)]="searchCriteriaCareer" name="searchCriteriaCareer" (ngModelChange)="onChangeCareer($event)">
        <!-- <option [value]="LPN">LPN</option>
        <option [value]="RN">RN</option> -->
        <!-- <option *ngFor="let item of selectCareerOption" [ngValue]="item" [disabled]="item.value==0"> -->
        <option *ngFor="let item of selectCareerOption" [ngValue]="item">  
          {{item.label}}
        </option>
      </select>
  </div>
    <div class="col-md-2">
      <select type="text" class="form-control col-xs-2" [(ngModel)]="searchCriteriaType" name="searchCriteriaType" (ngModelChange)="onChangeType($event)">
        <!-- <option [value]="Internal">Internal</option>
        <option [value]="External">External</option> -->
        <option *ngFor="let item of selectTypeOption" [ngValue]="item">
          {{item.label}}
        </option>
      </select>
    </div>
  <div class="col-md-2">    
      <select type="text" class="form-control col-xs-4" [(ngModel)]="searchCriteriaHospital" name="searchCriteriaHospital" (ngModelChange)="onChangeHospital($event)">
        <!-- <option [value]="BỆNH VIỆN AN BÌNH">BỆNH VIỆN AN BÌNH</option>
        <option [value]="BỆNH VIỆN QUÂN DÂN MIỀN ĐÔNG">BỆNH VIỆN QUÂN DÂN MIỀN ĐÔNG</option>
        <option [value]="BỆNH VIỆN BƯU ĐIỆN 2">BỆNH VIỆN BƯU ĐIỆN 2</option> -->
        <option *ngFor="let item of selectHospitalOption" [ngValue]="item">
          {{item.label}}
        </option>
      </select>
  </div>
    <div class="col-md-2">
      <select type="text" class="form-control col-xs-3" [(ngModel)]="searchMode" name="searchMode" (ngModelChange)="onChangeMode($event)">
        <!-- <option [value]="BỆNH VIỆN AN BÌNH">BỆNH VIỆN AN BÌNH</option>
        <option [value]="BỆNH VIỆN QUÂN DÂN MIỀN ĐÔNG">BỆNH VIỆN QUÂN DÂN MIỀN ĐÔNG</option>
        <option [value]="BỆNH VIỆN BƯU ĐIỆN 2">BỆNH VIỆN BƯU ĐIỆN 2</option> -->
        <option *ngFor="let item of selectMode" [ngValue]="item">
          {{item.label}}
        </option>
      </select>       
    </div> 
</div>
<div class="row">
  <div class="col-md-2">
    <div class="centered">
      <div class="control is-horizontal">
        <!-- <div class="control-label">
          <label>Thứ     Bắt đầu      Kết thúc</label> 
        </div> -->
        <span class="select">
          <!-- <select [(ngModel)]="options.theme">
            <option>default</option>
            <option>green</option>
            <option>teal</option>
            <option>cyan</option>
            <option>grape</option>
            <option>red</option>
            <option>gray</option>
          </select> -->
          <table>
            <tr>
              <th>Thứ</th>
              <th>Bắt đầu</th>
              <th>Kết thúc</th>
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('T2')">
                  T2
                </button>
              </td>
              <td><input class="form-control" [value]="monSt | date:'shortTime'" [(ngModel)]="monSt" name="monSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setMonSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="monEn"></td> 
              <td><input class="form-control" [value]="monEn | date:'shortTime'" [(ngModel)]="monEn" name="monEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setMonEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="monSt" [maxMoment]="limitEn"></td>    
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('T3')">
                  T3
                </button>
              </td>
              <td><input class="form-control" [value]="tueSt | date:'shortTime'" [(ngModel)]="tueSt" name="tueSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setTueSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="tueEn"></td> 
              <td><input class="form-control" [value]="tueEn | date:'shortTime'" [(ngModel)]="tueEn" name="tueEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setTueEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="tueSt" [maxMoment]="limitEn"></td>    
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('T4')">
                  T4
                </button>
              </td>
              <td><input class="form-control" [value]="wedSt | date:'shortTime'" [(ngModel)]="wedSt" name="wedSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setWedSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="wedEn"></td> 
              <td><input class="form-control" [value]="wedEn | date:'shortTime'" [(ngModel)]="wedEn" name="wedEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setWedEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="wedSt" [maxMoment]="limitEn"></td>    
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('T5')">
                  T5
                </button>
              </td>
              <td><input class="form-control" [value]="thuSt | date:'shortTime'" [(ngModel)]="thuSt" name="thuSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setThuSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="thuEn"></td> 
              <td><input class="form-control" [value]="thuEn | date:'shortTime'" [(ngModel)]="thuEn" name="thuEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setThuEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="thuSt" [maxMoment]="limitEn"></td>    
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('T6')">
                  T6
                </button>
              </td>
              <td><input class="form-control" [value]="friSt | date:'shortTime'" [(ngModel)]="friSt" name="friSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setFriSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="friEn"></td> 
              <td><input class="form-control" [value]="friEn | date:'shortTime'" [(ngModel)]="friEn" name="friEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setFriEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="friSt" [maxMoment]="limitEn"></td>     
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('T7')">
                  T7
                </button>
              </td>
              <td><input class="form-control" [value]="satSt | date:'shortTime'" [(ngModel)]="satSt" name="satSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setSatSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="satEn"></td> 
              <td><input class="form-control" [value]="satEn | date:'shortTime'" [(ngModel)]="satEn" name="satEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setSatEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="satSt" [maxMoment]="limitEn"></td>    
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-number" (click)="resetTime('CN')">
                  CN
                </button>
              </td>
              <td><input class="form-control" [value]="sunSt | date:'shortTime'" [(ngModel)]="sunSt" name="sunSt" dateTimePicker [pickerType]="'time'" readonly (onChange)="setSunSt($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="limitSt" [maxMoment]="sunEn"></td> 
              <td><input class="form-control" [value]="sunEn | date:'shortTime'" [(ngModel)]="sunEn" name="sunEn" dateTimePicker [pickerType]="'time'" readonly (onChange)="setSunEn($event)" [hourTime]=" '24' " [locale]=" 'vi' " [minMoment]="sunSt" [maxMoment]="limitEn"></td> 
            </tr>                                                                                                            
          </table>
        </span>
      </div>
    </div>
    <div class="is-fullwidth has-text-centered">
      <ng-daterangepicker [(ngModel)]="value" name="value" [options]="options"></ng-daterangepicker>
    </div>
    <label>Tên bệnh nhân </label>
    <input class="form-control" type="text" [(ngModel)]="patientName" name="patientDescription"/><br/>
    <label>Tuổi </label><br/>
    <input class="form-control" type="number" [(ngModel)]="patientAge" name="patientDescription" pattern="[1-9]*"/><br/>                    
    <label>Mô tả công việc {{momentVariable}} </label><br/>
    <textarea class="form-control" type="text" [(ngModel)]="patientDescription" name="patientDescription"></textarea><br/>                    
  </div>  
  <div id="wrapper" class="col-md-10">
    <agm-map [latitude]="latitude" [longitude]="longitude" [fitBounds]="latlngBounds" [styles]="styles" [scrollwheel]="true" [zoom]="zoom" (mapClick)="mapClicked($event)">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      <agm-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m,i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
        [iconUrl]="'https://cdn3.iconfinder.com/data/icons/medical-2-1/512/map_marker-32.png'"
      >
      <!--http://maps.google.com/mapfiles/ms/icons/blue-dot.png  -->
      <!-- <agm-info-window>
        <strong>{{m.name}}</strong>
      </agm-info-window> -->
    </agm-marker>
    <agm-circle [latitude]="latitude" [longitude]="longitude" 
        [(radius)]="radius"
        [circleDraggable]="false"
        [editable]="false"
        [visible]="true"
        (radiusChange)="radiusChanged($event)"
        #circle>
    </agm-circle> 
            <!-- [fillColor]="'red'" -->
      <agm-polygon #myPolygon
      [paths]="paths"
      [editable]="false" 
      [draggable]="false"
      [visible]="false"
      [strokeOpacity]= 0.0
      (polyClick)="click($event)" 
      (polyDblClick)="delete($event)"></agm-polygon>              
    </agm-map>

    <div id="over_map_right" *ngIf="markerName">
      <div class="panel-heading">
        <h1 class="panel-title">Thông tin điều dưỡng:{{startDate | date: 'dd/MM/yyyy'}}</h1>
      </div>
      <svg class="defs-only right">
        <filter id="monochrome" color-interpolation-filters="sRGB"
                x="0" y="0" height="100%" width="100%">
          <feColorMatrix type="matrix"
            values="0.95 0 0 0 0.05 
                    0.85 0 0 0 0.15  
                    0.50 0 0 0 0.50 
                    0    0 0 1 0" />
        </filter>
      </svg>
      <a class="profile-link" href="#" title="More about Amelia Bellamy-Royds" *ngIf="markerSex == 'Nữ'">
        <img class="profile-pic" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/AmeliaBR-bw.jpg"/></a>
      <!-- <a class="profile-link" href="#" title="More about AmeliaBR">
        <img class="profile-pic" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/AmeliaBR2-bw.jpg"/></a>       -->
       <a class="profile-link" href="#" title="More about AmeliaBR" *ngIf="markerSex == 'Nam'">
        <img class="profile-pic" src="https://pbs.twimg.com/profile_images/889736688624312321/xVAFH9ZH_400x400.jpg"/></a>               
      <div class="panel-body">
        <form (submit)="chooseMarker()">
          <!-- <label class="label label-info">>Tên</label>
           <input type="text" [(ngModel)]="markerName" name="markderName"/><br/> 
           {{markerName}}<br/>
          <label class="label label-info">Email</label>
           {{markerEmail}}<br/> 
          <label class="label label-info">SĐT</label>
           {{markerPhone}}<br/> 
          <label class="label label-info">Giới tính</label>
           {{markerSex}}<br/>
          <label class="label label-info">Tuổi</label>
           {{markerAge}}<br/>
          <label class="label label-info">Địa chỉ</label>
           {{markerAddress}}<br/> 
          <label class="label label-info">Làm việc tại</label>
           {{markerHospital}}<br/> -->
          <div class="card" >
            <div class="card-block">

              
              <h4 class="card-title">{{markerName}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">Giới tính: {{markerSex}} - sđt: {{markerPhone}}</h6>
              <p class="card-text" *ngIf="markerHospital">Làm việc tại: {{markerHospital}}</p>
              <p class="card-text">Địa chỉ: {{markerAddress}}</p>
              <p class="card-text">Chi trả cho 1 buổi làm việc: {{money}}</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
              <div class="right">    
                  <!-- <input type="submit" value= "Choose it!"/>  -->
                <button type="button" class="btn btn-default btn-number" (click)="makeContract()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>               
            </div>
          </div>                                                       
           <!-- <label>Lat</label>
          <input type="text" [(ngModel)]="markerLat" name="markderLat"/><br/>
          <label>Lng</label>
          <input type="text" [(ngModel)]="markerLng" name="markderLng"/><br/> -->
          <!-- <label>Draggable</label>
          <select type="text" [(ngModel)]="markerDraggable" name="markderDragglable">
            <option value="no">No</option>
            <option value="yes">Yes</option>
          </select><br/>  -->
        </form>    
      </div>          
    </div>
  </div>
</div>

<div class="row">
  <!-- <div class="column is-4 is-offset-4"> -->
  <!-- <div class="col-md-5">

  </div> -->
  <!-- <div class="column is-4 is-offset-4"> -->
  <!-- <div class="col-md-5">
    <div class="is-fullwidth has-text-centered">
      <ng-daterangepicker [(ngModel)]="value" name="value" [options]="options"></ng-daterangepicker>
          <input [value]="momentVariable | date" [(ngModel)]="momentVariable" name="momentVariable" dateTimePicker [pickerType]="'time'" readonly (onChange)="setMoment($event)">   
        <dp-time-select #dayPicker theme="dp-material" [(ngModel)]="selectedDate" [config]="config"></dp-time-select>
        <button type="button" class="btn btn-success btn-number"(click)="open()"></button>
        <button type="button" class="btn btn-success btn-number" (click)="close()"></button> 
    </div>
  </div> -->
</div>


