    agm-map {
        /* height: 300px;
        width: 300px;  */
        height: 780px;
        width: 100%;   
      /* width: 100%; 
      height: 100%; 
      opacity: 0; 
      transition: opacity 150ms ease-in  */
    }

/* label {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
} */

#wrapper { position: relative; }
#over_map { position: absolute; background-color: transparent; top: 10px; left: 10px; z-index: 99; }
#over_map_right { position: absolute; background-color: transparent; top: 10px; right: 10px; z-index: 99; } 

.selcls {

    padding: 9px;
    border: solid 1px #0077B0;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
} 
              
.right{dislpay:inline; float:right}
.right button{margin-right:6px}



.profile-link {
  display: inline-block;
  padding: 1em;
  width: 10em;
  max-width: 80%;
}
.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: #222 0.2em 0.2em 1em;
  /*
  transition: filter 0.3s, box-shadow 0.3s;
  -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
}
.profile-link:hover .profile-pic, 
.profile-link:focus .profile-pic {
  */
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
}
.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}