<div class="container">
  <h1>Danh sách các hợp đồng</h1>
  <a [routerLink]="['/contracts/add']" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
  <select type="text" [(ngModel)]="statusSelect " name="statusSelect" (ngModelChange)="onChangeStatus($event)">
    <!-- <option [value]="LPN">LPN</option>
    <option [value]="RN">RN</option> -->
    <!-- <option *ngFor="let item of selectCareerOption" [ngValue]="item" [disabled]="item.value==0"> -->
    <option *ngFor="let item of statusOption" [ngValue]="item" [disabled]="item.value==0">  
      {{item.label}}
    </option>
  </select>
  <table class="table">
    <thead>
      <tr>
        <th *ngIf="currentUser.role!='ROLE_User'">Tên người liên lạc</th>
        <th *ngIf="currentUser.role!='ROLE_Nurse'">Tên điều dưỡng</th>
        <th>Tên bệnh nhân</th>
        <th>Chi tiết</th>
        <th *ngIf="statusSelect.value!='approve' && currentUser.role=='ROLE_Admin'">Xác nhận</th>
        <th *ngIf="statusSelect.value!='reject' && currentUser.role=='ROLE_Admin'">Loại bỏ</th>
        <!-- <th>Hủy</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contracts">
        <td *ngIf="currentUser.role!='ROLE_User'">{{ contract.userId.profile.name }}</td>
        <td *ngIf="currentUser.role!='ROLE_Nurse'">{{ contract.nurseId.profile.name }}</td>
        <td>{{ contract.patientName }}</td>
        <td><a [routerLink]="['/contracts/', contract._id]">Show Detail</a></td>
         <td *ngIf="statusSelect.value!='approve' && currentUser.role=='ROLE_Admin'"><button class="btn btn-success" type="button" (click)="approve(contract._id)">Xác nhận</button></td>        
        <td *ngIf="statusSelect.value!='reject' && currentUser.role=='ROLE_Admin'"><button class="btn btn-danger" type="button" (click)="decline(contract._id)">Loại bỏ</button></td> 
        <!-- <td><button class="btn btn-success" type="button" (click)="approve(contract._id)" *ngIf="contract.status != 'approve'  && contract.status != 'reject'">Xác nhận</button></td>
        <td><button class="btn btn-danger" type="button" (click)="decline(contract._id)" *ngIf="contract.status != 'approve'  && contract.status != 'reject'">Loại bỏ</button></td> -->
      </tr>
    </tbody>
  </table>


</div>